@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutProjects.cshtml";
}
     <div class="row">
                    <div class="col-lg-12">
                        <h1>
                            Kontrol Paneli
                        </h1>
                    </div>  

                    <!-- start:site information -->
                    <div class="site-information">
                        <div class="row">
						<div class="col-md-12">
                        <div class="well well-lg">
                            <h3>MMERT</h3>
                            <p>Projenin son haline erişmek için.</p>  <a href="#">Tıklayınız..</a>
                        </div>
						</div>
                            <div class="col-sm-6 col-md-3">

                            </div>
                            <div class="col-sm-6 col-md-3">

                            </div>
                            <div class="col-sm-6 col-md-3">
  
                            </div>
                        </div>
                    </div>
                    <!-- end:site information -->

                    <!-- start:site information 2 -->
                    <div class="site-information-2">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                            </div>
                            <div class="col-md-3 col-sm-6">

                            </div>
                            <div class="col-md-3 col-sm-6">

                            </div>
                            <div class="col-md-3 col-sm-6">

                            </div>
                        </div>
                    </div>
                    <!-- end:site information 2 -->


                </div>
